body {
	font-family: 'Roboto', sans-serif;
}

.navigation {
	margin-bottom: 2em;
  background-color: #FFF;
  border-bottom: 1px solid #ebe4eb;
  -webkit-box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
  -moz-box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
  box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
  border-top: none;

	a {
		font-family: 'Great Vibes', cursive;
		font-size: 4em;
		text-align: center;
    color: #F0E6EB;
  }

  .nav-pills {
		li {
			.active {
				a:focus, a:hover {
					color: #751947;
					background-color: #FFF;
				}
			}
		}
	}
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:focus {
	background-color: #FFF;
	color: #751947;
}




// Tasklist basic styling //

.tl-page-header {
	background-color: #FFF;
	border-bottom: 1px solid #ebe4eb;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
	-moz-box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
	box-shadow: 0px 2px 5px 0px rgba(235,228,235,0.63);
	border-top: none;
	margin-bottom: 2em;

	.tl-header-content {
		margin: 0 auto;
		max-width: 760px;
	}	
}

.tl-container {
	margin: 0 auto;
	max-width: 760px;
	min-width: 320px;

	.tl-content {
		// width: 600px;
		margin: 0 auto;		

		.tl-content-list {
			padding: 0.25em 1em 2em 1em;

			ul.unstyled {

				li {
					font-family: 'Roboto', sans-serif;
					font-size: 1.5em;
					line-height: 2em;
					border-bottom: 1px solid #ebe4eb;

					.priority-indicator {
						width: 3px;
						height: 0.75em;
						display: inline-block;
						background-color: #000;
					}

					.priority-urgent {
		background-color: #FF0000;	
	}

	.priority-high {
		background-color: #FFCC00;	
	}

	.priority-low {
		background-color: #009900;	
	}

					.tl-content-item-icons {
						float: right;

						.btn-link {
							font-size: 1em;
							line-height: 0.5em;
							color: #000;							
						}

						.glyphicon-ok {
							margin-right: 20%;
							color: green;
						}
					}
				}
			}
		}

		.tl-content-input {
			margin-bottom: 1em;
		}	
	}

	.completed {
		color: #FF0000;
		display: none;
	}

	.active {
		color: #000;	
	}

	.dropdown-menu {
		min-width: 2em;

			ul {
				li {
					border-bottom: 0px solid #FFF;
					font-family: 'Roboto', sans-serif;
						font-size: 1.5em;
						line-height: 2em;

					a {
						
					}
				}
			}
	}

	
	
	

}


	