<div class="tl-page-header">
	<div class="tl-header-content container-fluid">
		<h2>To Do</h2>
	</div>
</div>


<div class="tl-container container-fluid">
	<div class="tl-content">

		<div class="row tl-content-list">

			<div class="col-md-12" ng-controller="TodoListController">
				<ul class="unstyled">

          <!-- NG-Repeat Todo in Todos -->
					<li class="tl-content-item" ng-repeat="todo in todos" ng-class="{active: !taskCompleted, completed: taskCompleted}" ng-hide="shouldExpire(todo)">
						<span class="">
							{{todo.text}} | {{ todo.dateCreated | date : 'short'}}
						</span>
							<div class="tl-content-item-icons">
								<button type="button" class="btn btn-link" ng-click="taskCompleted = !taskCompleted">
									<span class="glyphicon glyphicon-ok" ng-class="{active: !taskCompleted, completed: taskCompleted}"></span>
								</button>
								
								<button type="button" class="btn btn-link" ng-click="deleteTodo(todo)">
									<span class="glyphicon glyphicon-remove"></span>
								</button>
								
							</div>
						</span>
					</li>

				</ul>

				
				<div class="tl-content-input row">
					<div class="col-md-12">
					<form ng-submit="addTodo()">
						<div class="input-group">
	        				<input type="text" ng-model="todoText" class="form-control" placeholder="Add task">
	        				<span class="input-group-btn">
		        				<button class="btn btn-default add-item" type="submit">
		        					<span class="glyphicon glyphicon-plus"></span>
		        				</button>
        					</span>
        				</div>
      				</form>
      			</div>
  				</div>

			</div>
		</div>
	</div>
</div>
